@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100,500,900;1,100..900&family=Outfit:wght@100..900&display=swap');


* {
    margin:0;
    box-sizing: border-box;
}

header {
    font-family: "Albert Sans", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    font-weight: 600;
}

header img {
    width: 150px;
}

header li {
    list-style-type: none;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Hero Section */

